/* importacion fuente roboto */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */


/* ------------------------------------------------------------------------------------------------------
------------------------------------------------ HEADER -------------------------------------------------- 
------------------------------------------------------------------------------------------------------- */

header{
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding-bottom: 10px;
}

/* imagen logo */

header img{
    width: 30%;
    padding: 20px;
}

/* barra de busqueda */
.search-bar{
    padding-left: 20px;
}

.fa-search{
    border-radius: 3px;
    background-color: #ebebeb;
    border: 0.5px solid black;
    padding: 1px;
}
/* parrafo comprar en cuotas */
.compra-cuotas{
    text-align: center;

}

/* --------------------------------- seccion nav ---------------------------------- */
header a{
    text-decoration: none;
    color: black;
}

header ul{
    list-style: none;
    margin-inline: -25px;
}

header nav ul, header nav input{
    display: none;
}

header nav input:checked ~ div ul{
    display: block;
}


header nav label{
    display: block;
    font-size: 20px;
    text-align: center;
    color: white;
    width: 18px;
    padding: 10px;
    margin: auto auto auto;
    border-radius: 5px;
    background-color: #1259c3;
}


/* ------------------------------------------------------------------------------------------------------
------------------------------------------------ MAIN -------------------------------------------------- 
------------------------------------------------------------------------------------------------------- */

main {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px;
}
/* ----------------------------------------- titulos de secciones ------------------------------------------ */
main h2{
    font-size: 24px;
    color: #666;
    text-align: left;
    padding-left: 5%;
}

/* ----------------------------------------- Secciones de articulos ------------------------------------------ */

main section article{
    background-color: white;
    margin: 10px 5% auto;
}


/* ----------------------------------------- Imagenes ------------------------------------------ */
/* banner */
.banner{
    width: 100%;
}
/* productos */
main article div img {
    width: 90%;
}



/* ----------------------------------------- Productos Descripcion------------------------------------------ */


.product-description{
    border-top: 1px solid #ebebeb;
    padding: 15px;
    text-align: left;
}
    
/* logo envio */
.fa-truck{
    color: #39b54a;
    border-radius: 150px;
    border: 0.5px solid #39b54a;
    padding: 5px;
}
/* descripción */
main p{
    font-size: 16px;
    display: none;
}
/* precio */
.price{
    font-size: 18px;
}
/* Oferta */
.discount{
    font-size: 16px;
    color: #39b54a;
}


/* ------------------------------------------------------------------------------------------------------
------------------------------------------------ FOOTER -------------------------------------------------- 
------------------------------------------------------------------------------------------------------- */

footer{
    font-family: 'Roboto', sans-serif;
    margin-top: 80px;
}
footer p{
    font-size: 12px;    
}

footer section{
    text-align: center;
    margin-bottom: 80px;
    padding: 0 100px 0;
}
h3{
    margin-bottom: -10px;
}
/* --------------------------------- ICONOS ---------------------------------- */
.fa-credit-card{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.fa-gift{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.fa-user-shield{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}




/* ------------------------------------------------------------------------------------------------------
------------------------------------------------ MEDIA QUERIES -------------------------------------------------- 
------------------------------------------------------------------------------------------------------- */

/* --------------------------------- TABLETS ---------------------------------- */
@media (min-width: 361px){

    header nav label {
        display: none;
    }

    header nav div ul{
        display: block;
    }

    main p{
        display: block;
    }

    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}


/* --------------------------------- DESKTOP ---------------------------------- */

@media (min-width: 769px){

}
