/* importacion fuente roboto */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */



/* variables colores */
:root{
    --azul: #1259c3;
    --verde: #39b54a;
    --blancoOscuro: #ebebeb;
    --amarillo: #EAC926;
}

/* ------------------------------------------------------------------------------------------------------
------------------------------------------------ -------------------------------------------------- 
------------------------------------------- HOME ------------------------------------------------------------ 
------------------------------------------------------------------------------------------------------
------------------------------------------------ -------------------------------------------------- 
------------------------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------------------------------------
------------------------------------------------ HEADER -------------------------------------------------- 
------------------------------------------------------------------------------------------------------- */

header{
    background-color: var(--amarillo);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}

.headerOne{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
   
}

.headerOne div{ 
    width: 50%;

}



/* imagen logo */

.headerOne img{
    background-size: cover; 
    padding: 20px; 
    
}

/* barra de busqueda */
.search-bar{
    
    padding-top: 20px;
    justify-content: center;
}

.search-bar input{
    width: 80%;
}



.fa-search{
    border-radius: 3px;
    background-color: var(--blancoOscuro);
    border: 0.5px solid black;
    padding: 1px;
  
}
/* parrafo comprar en cuotas */
.compra-cuotas{
    text-align: center;

}



/* --------------------------------- seccion nav ---------------------------------- */


header a{
    text-decoration: none;
    color: black;
}

header ul{
    list-style: none;
    /* margin-inline: -25px; */
}

 header nav input{
    display: none;
}

header nav ul{
    display: none;
}

header nav input:checked ~ div ul{
    display: block;
}


header nav label{
    /* display: block; */
    font-size: 20px;
    text-align: center;
    color: white;
    width: 18px;
    padding: 10px;
    margin: auto auto auto;
    border-radius: 5px;
    background-color: var(--azul);
 
    
}



/* ------------------------------------------------------------------------------------------------------
------------------------------------------------ MAIN -------------------------------------------------- 
------------------------------------------------------------------------------------------------------- */

main {
    background-color: var(--blancoOscuro);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    
  
}
/* ----------------------------------------- titulos de secciones ------------------------------------------ */
main h2{
    
    font-size: 24px;
    color: #666;
    text-align: left;
    padding-left: 5%;
}

/* ----------------------------------------- Secciones de articulos ------------------------------------------ */

main section article{
    background-color:white;
    margin: 10px 5% auto;
    
  
}

.articles {
    align-items: center;
     display: flex;
     flex-wrap: wrap;
    
  
}

.articles article{
    width: 100%;
   
}

/* ----------------------------------------- Imagenes ------------------------------------------ */
/* banner */
.banner{
    width: 100%;
}
/* productos */
main article div img {
    width: 90%;
}



/* ----------------------------------------- Productos Descripcion------------------------------------------ */


.product-description{
    border-top: 1px solid var(--blancoOscuro);
    padding: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: white;
}
    




/* logo envio */

.fa-truck{
    color: var(--verde);
    border-radius:50%;
    border: 0.5px solid var(--verde);
    padding: 5px;
    position: relative;
    left: 90% ;
    top: -28px ;
} 



/* orecio descuento */


.price_dis{
    display: flex; 
  
    
}


/* precio */
.price{
    font-size: 18px;
    width: 30%;
 
}



/* Oferta */
.discount{
    font-size: 16px;
    color: var(--verde);
    width: 70%;
  
}


/* descripción */
main p{
    font-size: 16px;
    display: none;
}




/* ------------------------------------------------------------------------------------------------------
------------------------------------------------ FOOTER -------------------------------------------------- 
------------------------------------------------------------------------------------------------------- */

footer{
    font-family: 'Roboto', sans-serif;
    margin-top: 80px;
}
footer p{
    font-size: 12px;    
}

footer section{
    text-align: center;
    margin-bottom: 80px;
    padding: 0 100px 0;
}
h3{
    margin-bottom: -10px;
}


/* --------------------------------- ICONOS ---------------------------------- */
.fa-credit-card{
    color: var(--azul);
    font-size: 2em;
    margin-bottom: 10px;
}

.fa-gift{
    color: var(--azul);
    font-size: 2em;
    margin-bottom: 10px;
}

.fa-user-shield{
    color: var(--azul);
    font-size: 2em;
    margin-bottom: 10px;
}





/* ------------------------------------------------------------------------------------------------------
------------------------------------------------ -------------------------------------------------- 
------------------------------------------- REGISTER ------------------------------------------------------------ 
------------------------------------------------------------------------------------------------------
------------------------------------------------ -------------------------------------------------- 
------------------------------------------------------------------------------------------------------- */


.register {
    margin: 0 auto;
    width: 350px;
    padding: 50px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-content: center;
}

form .input {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

form label{
    font-size: 15px;
    margin-bottom: 5px;
}


/* form small {
    color: red;
}
 */


form .input .check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}



form .bttn button {
    border: none;
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

/* .danger {
    border-color: red;
}

.data {
    border: none;
    border-bottom: 1px solid black;
} */

/*  .register form input:valid,
 textarea:valid {
     background: rgba(0, 128, 0, 0.342);
 }
 
 .register form input:invalid,
 textarea:invalid {
     background: rgba(255, 0, 0, 0.171);
 } */






/* ------------------------------------------------------------------------------------------------------
------------------------------------------------ -------------------------------------------------- 
------------------------------------------- LOGIN ------------------------------------------------------------ 
------------------------------------------------------------------------------------------------------
------------------------------------------------ -------------------------------------------------- 
------------------------------------------------------------------------------------------------------- */





 .login {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 50px 0;
}

.login input{
    border-radius: 10px transparent;
}


.login button {
    border: none;
    background-color: blue;
    color: white;
    padding: 5px 200px;
    border-radius: 5px;
  
}













/* ------------------------------------------------------------------------------------------------------
------------------------------------------------ MEDIA QUERIES -------------------------------------------------- 
------------------------------------------------------------------------------------------------------- */

/* --------------------------------- TABLETS ---------------------------------- */
@media (min-width: 361px){

    header nav label {
        display: none;
    }


    main p{
        display: block;
    }
    .discount{
        
        margin-left: 20px;
    }


    main section .articles {
       flex-wrap: wrap;
         
    }

    main section .articles article{
        width: 45%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin: 10px 2% auto;
        
    }

    .headerOne div{
        width: 30%;
     
    }



    .headerTwo{
        width: 90%;
    }


    .headerTwo ul{
        display: flex;  
    }

    .headerUl{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }



    

    .headerTwo ul li{
        font-size: .8rem;
      
       margin-left: 10px;
    }
    

    
    .headerOne p{
        padding-top: .5rem;
    }
    
 
    

}











/* --------------------------------- DESKTOP ---------------------------------- */

@media (min-width: 769px){


    main section .articles article{
        width: 23%;
     
        margin: 10px 1% auto;
    }


    
    .headerTwo ul li{
        font-size: 1rem;
      
      
    }
}
